body {
    background-image: url('bkkk.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    user-select: none;
    background-repeat: no-repeat;
    background-attachment: fixed;
}